<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Hannah (Under 13) 100m Back</title>
                            <link rel="stylesheet" href="/static/webapp.css">
                        </head>
                        <body>
                            <h3>Hannah (Under 13) 100m Back</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="338.38" style="fill:rgb(0,0,255);" />
                            </svg>1:32.57<br />
                            <svg height="30" width="400">
                                <rect height="30" width="343.64" style="fill:rgb(0,0,255);" />
                            </svg>1:34.01<br />
                            <svg height="30" width="400">
                                <rect height="30" width="339.14" style="fill:rgb(0,0,255);" />
                            </svg>1:32.78<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:35.75<br /><p>Average time: 1:33.78</p><ul><li>LC Men: 51.60</li><li>LC Women: 57.13</li><li>SC Men: 48.16</li><li>SC Women: 54.02</li></ul>
                            
                        </body>
                    </html>
