<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Darius (Under 13) 200m IM</title>
                            <link rel="stylesheet" href="/static/webapp.css">
                        </head>
                        <body>
                            <h3>Darius (Under 13) 200m IM</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="327.53" style="fill:rgb(0,0,255);" />
                            </svg>2:52.44<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>3:04.27<br />
                            <svg height="30" width="400">
                                <rect height="30" width="344.72" style="fill:rgb(0,0,255);" />
                            </svg>3:01.49<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>3:04.27<br />
                            <svg height="30" width="400">
                                <rect height="30" width="349.18" style="fill:rgb(0,0,255);" />
                            </svg>3:03.84<br /><p>Average time: 3:01.26</p><ul><li>LC Men: 1:52.69</li><li>LC Women: 2:05.70</li><li>SC Men: 1:48.88</li><li>SC Women: 2:01.63</li></ul>
                            
                        </body>
                    </html>
