<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Darius (Under 13) 100m Breast</title>
                        </head>
                        <body>
                            <h3>Darius (Under 13) 100m Breast</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="349.51" style="fill:rgb(0,0,255);" />
                            </svg>1:33.05<br />
                            <svg height="30" width="400">
                                <rect height="30" width="343.8" style="fill:rgb(0,0,255);" />
                            </svg>1:31.53<br />
                            <svg height="30" width="400">
                                <rect height="30" width="344.59" style="fill:rgb(0,0,255);" />
                            </svg>1:31.74<br />
                            <svg height="30" width="400">
                                <rect height="30" width="341.1" style="fill:rgb(0,0,255);" />
                            </svg>1:30.81<br />
                            <svg height="30" width="400">
                                <rect height="30" width="349.51" style="fill:rgb(0,0,255);" />
                            </svg>1:33.05<br />
                            <svg height="30" width="400">
                                <rect height="30" width="348.31" style="fill:rgb(0,0,255);" />
                            </svg>1:32.73<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:33.18<br />
                            <svg height="30" width="400">
                                <rect height="30" width="338.96" style="fill:rgb(0,0,255);" />
                            </svg>1:30.24<br />
                            <p>Average time: 1:32.04</p>
                        </body>
                    </html>
