<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Hannah (Under 13) 100m Free</title>
                            <link rel="stylesheet" href="/static/webapp.css">
                        </head>
                        <body>
                            <h3>Hannah (Under 13) 100m Free</h3>
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:25.38<br />
                            <svg height="30" width="400">
                                <rect height="30" width="334.59" style="fill:rgb(0,0,255);" />
                            </svg>1:21.62<br />
                            <svg height="30" width="400">
                                <rect height="30" width="333.68" style="fill:rgb(0,0,255);" />
                            </svg>1:21.40<br />
                            <svg height="30" width="400">
                                <rect height="30" width="333.81" style="fill:rgb(0,0,255);" />
                            </svg>1:21.43<br /><p>Average time: 1:22.46</p><ul><li>LC Men: 46.40</li><li>LC Women: 51.71</li><li>SC Men: 44.84</li><li>SC Women: 49.93</li></ul>
                            
                        </body>
                    </html>
